*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 124, 118);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2{
    font-size: 4rem;
    color: white;
}

section span{
    position: absolute;
    bottom: -50%;
    right: 10px;
    background-color: rgb(192, 90, 149);
    box-shadow: inset 0 0 10px rgb(255, 255, 11255 ,0.5);
    animation: animate 7s linear infinite;
    padding: 0 20px;
    /* margin: 0 3rem; */
}
section span:hover{
    cursor: pointer;
    animation-play-state: paused;
    background-color: rgb(238, 5, 44);   

}

@keyframes animate{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    99%{
        /* transform: translateY(0%); */
        opacity: 1;
    }
    100%{
        transform: translateY(-1200%);
        opacity: 0.3;
    }
}